<div class="row mb-5">
    <div class="col-xl-8 col-lg-7">
        <div class="card d-block">
            <div class="card-header border-bottim">
                <h4 class="my-0">About</h4>
            </div>
            <div class="card-body">
                <p class="mb-3 text-justify"> The four-year Asia Regional Resilience to
                    a Changing Climate (ARRCC) programme that commenced in September 2018 aims to strengthen provision
                    and uptake of weather and climate services across the South Asia Region. Whilst regional in nature,
                    ARRCC also has a national focus on Bangladesh, Pakistan, Nepal and Afghanistan. <br
                       ><br> ARRCC focuses across all meteorological
                    timescales (weather, seasonal, climate), and is being implemented in South Asia region with the main
                    objective to build climate and environmental resilience by improving the application and access to
                    weather and climate services at regional to national levels. In addition, the program is supporting
                    the development of new technologies and innovative approaches to help vulnerable communities use
                    weather warnings and forecasts to better prepare for climate-related shocks. <br
                       ><br> As part of ARRCC the Strengthening Climate
                    Information Partnership in South Asia (SCIPSA) work package, SESAME+ an AgroMet decision support
                    system is being developed by Regional Integrated Multi-Hazard Early Warning System (RIMES) and UK
                    Met Office (UKMO) in collaboration with Bangladesh Meteorological Department (BMD). </p>
                <div class="d-flex my-3">
                    <img src="assets/images/logo/logo_gov.png" class="me-3" style="height: 70px;">
                    <img src="assets/images/logo/logo_bmd.png" class="me-3" style="height: 70px;">
                    <img src="assets/images/logo/logo_rimes.png" class="me-3" style="height: 70px;">
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-5">
        <div class="card">
            <div class="card-header">
                <h4 class="my-0">Office Address</h4>
            </div>
            <div class="card-body d-flex flex-column" style="height: 400px;">
                <p class="font-weight-normal" style="font-size: 12px;"><span
                        class="font-weight-bold">Rimes Bangladesh Office</span><br> Bangladesh
                    Meteorological Department <br> Storm warning center <br>
                    Agargaon,Dhaka-1207, Bangladesh <br><br><span
                        style="font-weight: 600;">Contact Through Email</span><br
                       ><span><i
                            class="fas fa-envelope"></i><a
                            href="mailto:raihanul@rimes.int?subject=feedback"
                            class="ml-2">raihanul@rimes.int</a></span><br><br
                       ><span class="font-weight-bold">Regional Early
                        Warning Facility</span><br> Regional Integrated Multi-Hazard Early Warning
                    System<br> Second Floor, Outreach Building<br> Asian
                    Institute of Technology Campus<br> 58 Moo 9 Paholyothin Rd., Klong Nueng<br
                       > Klong Luang, Pathumthani 12120, Thailand<br><br
                       ><span style="font-weight: 600;">Contact Through
                        Email</span><br><span><i
                            class="fas fa-envelope"></i><a
                            href="mailto:rimes@rimes.int?subject=feedback" class="ml-2">rimes@rimes.int</a></span><br
                       ><span><i
                            class="fas fa-envelope"></i><a
                            href="mailto:itesh@rimes.int?subject=feedback" class="ml-2">itesh@rimes.int</a></span><br
                       ></p>
            </div>
        </div>
    </div>
</div>